@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* { margin: 0; padding: 0; font-family: "Open Sans", sans-serif; box-sizing: border-box;}
body { max-width: 700px; margin: auto;}
.msg-user { color: white; clear: both; float: right; background: #2196F3; margin-bottom: 15px;}
.msg-ai { background: #e6e6e6; clear: both;}
.msg-ai, .msg-user { padding: 15px 20px; border-radius: 6px;}
#chat { min-height: 100vh; padding: 20px;}
.input-field { width: 100%; border-radius: 6px; flex: 1; box-shadow: 0 1px 17px rgba(0,0,0,0.1); }
.input-field input { appearance: none; background: transparent; font-size: 15px; padding: 10px 15px; box-sizing: border-box; border: none; width: 100%; &::placeholder {color: #696969;} &:focus {outline: 2px solid #2196F3;}}
.btn { appearance: none; color: white; background: #2196F3; font-size: 15px; padding: 10px 15px; outline: none; border: none; border-radius: 6px; cursor: pointer; transition: 0.15s background ease; &:hover { background: #0b7ad1; } &:active { background: #0a6bb7; } &:disabled {background: #b5b5b5; color: #555; pointer-events: none;}}
.bottom-nav { gap: 10px; position: sticky; bottom: 0; width: 100%; padding: 20px; background: white; align-items: center; display: flex; z-index: 10;}
#about { text-align: center; }
#about h2 {font-size: 30px; margin-bottom: 15px; }
#about p { color: #686868; font-size: 18px;}